			<div class="innerSearch clearfix">
				<h2>search here:</h2>
					<div class="searchRow">
						<form name="index" action="search" method="get">
							<input type="text" name="searchValue" id="searchValue" class="searchField" value="e.g. Thai, $15.99, Westport" />
							<input type="text" name="zipValue" id="zipValue" class="zipcodeField" value="zipcode" />
							<input type="submit" id="submit" class="sprite_buttons goBtn" value="" />
						</form>
					</div>
			</div>
		</div>
		
		<div id="lowerContentBlock" class="clearfix">
			<div id="contentBlock" class="clearfix">
				<div class="searchResults">
				
					<h3>your results:</h3>
					<ol class="searchListing">
					
						<% @restaurants.each do |restaurant| %>
							<li>
								<div class="leftResult">
									<a class="businessName" href="#"><%= "#{restaurant.name}" %></a>
									<span class="description"><%= "#{restaurant.description}" %></span>
								</div>
								<div class="rightResult">
									<a class="sprite_buttons viewMenu" href="#">View Menu</a>
									<span class="sprite_buttons ratings pos">&nbsp;</span>
									<span class="sprite_buttons ratings pos">&nbsp;</span>
									<span class="sprite_buttons ratings pos">&nbsp;</span>
									<span class="sprite_buttons ratings pos">&nbsp;</span>
									<span class="sprite_buttons ratings">&nbsp;</span>
								</div>
							</li>	
						<% end %>						
					</ol>
					
					<div class="mapBlock">&nbsp;</div>
					
				</div>
			</div>
		</div>