			<div class="subContent clearfix">
				<p>grubbin'	-verb Chowing down on some good food.<br><em>Those ribs are lookin good. Ima be grubbin'it in a minute.</em></p>
			</div>
		</div>
		<div id="lowerContentBlock" class="clearfix">
			<div id="contentBlock" class="clearfix">
				<div id="homepageSearch" class="clearfix">
					<h2>search here:</h2>
					<div class="searchRow">
						<form name="index" action="search" method="get">
							<input type="text" name="searchValue" id="searchValue" class="searchField" value="e.g. Thai, $15.99, Westport" />
							<input type="text" name="zipValue" id="zipValue" class="zipcodeField" value="zipcode" />
							<input type="submit" id="submit" class="sprite_buttons submitBtn" value="" />
						</form>
					</div>
				</div>
				<div id="homepageSignInBlock">&nbsp;</div>
			</div>
		</div>