<h1>Grubb.in!</h1>
<%=h "Search from a database of #{@restaurants.size} restaurants!" %><br><br>

<form>
Search: 
<input type="text" name="search" />
<input type="submit" value="Grubbit!" />
</form>

<br>
<% @restaurants.each do |restaurant| %>
<% if restaurant.name.include? @search_term %>
<%=h "#{restaurant.name}: #{restaurant.address}" %>
<br>
<% end %>
<br>
<% end %>
