<script>
function refreshPage()
{
  window.location = "orderconfirm/update"
}
setTimeout('refreshPage()', 10000)
</script>


			<div class="innerSearch clearfix">
				<h2>search here:</h2>
					<div class="searchRow">
						<form name="index" action="/search" method="get">
							<input type="text" name="searchValue" id="searchValue" class="searchField" value="e.g. Thai, $15.99, Westport" />
							<input type="text" name="zipValue" id="zipValue" class="zipcodeField" value="zipcode" />
							<input type="submit" id="submit" class="sprite_buttons goBtn" value=" " />
						</form>
					</div>
			</div>
		</div>
		
		<div id="lowerContentBlock" class="clearfix">
			<div id="contentBlock" class="clearfix">
				<div class="searchResults">
				
					<h3>order status:</h3>
					<div class="confirmations">
						<ol>
							<li>Your order has been <span class="blue">submitted&hellip;</span></li>
							<li>Your driver has been <span class="blue">dispatched&hellip;</span></li>
							<li>Your order is in <span class="blue">route&hellip;</span></li>
							<li style="list-style:none;color: #4f9906;">Thank you!</li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>